@page
@using CRUD.Models
@model CRUD.Pages.Users.NewModel
@{
    ViewData["Title"] = "New User";
}
<div class="mt-3 col-md-5">
    <form method="post">
       <div class="form-group">
            <label asp-for="@Model.User.Name" class="form-label">Name</label>
            <input asp-for="@Model.User.Name" class="form-control" />
            <span asp-validation-for="User.Name" class="text text-danger"></span>
       </div>

        <div class="form-gorup">
         <label  asp-for="@Model.User.Surname" class="form-label">Surname</label>
        <input  asp-for="@Model.User.Surname" class="form-control" />
        <span asp-validation-for="User.Surname" class="text text-danger"></span>
        </div>

        <div class="form=group">
         <label  asp-for="@Model.User.Job" class="form-label">Job</label>
         <input  asp-for="@Model.User.Job" class="form-control" />
         <span asp-validation-for="User.Job" class="text text-danger"></span>
        </div>
         
          <div class="form-group">
            <label  asp-for="@Model.User.Age"  class="form-label">Age</label>
            <input  asp-for="@Model.User.Age" class="form-control" type="number" max="100" min="1"/>
            <span asp-validation-for="User.Age" class="text text-danger"></span>
          </div>

        <button class="mt-2 btn btn-primary">Submit</button>
    </form>
</div>